{% extends "base.html" %}

{% block title %}
LSPE/Strip DB: List of bandpass analysis results
{% endblock %}

{% block content %}
<h2>Bandpass analysis results</h2>

<p>Number of reports in the database: {{ bandpass_analysis_tests | length }}</p>

<div id="bandpass-plot" style="height: 280px"></div>

<table>
    {% if bandpass_analysis_tests %}
    <thead>
        <th>Polarimeter</th>
        <th>Test</th>
        <th>&nu;<sub>cen</sub> [GHz]</th>
        <th>&Delta;&nu; [GHz]</th>
        <th>Analysis date</th>
        <th>JSON</th>
        <th>Report</th>
    </thead>
    <tbody>
        {% for cur in bandpass_analysis_tests %}
        <tr>
            {% with cur_results=cur.analysis_results %}
            <td>
                <a href="{% url 'unittests:polarimeter_details' cur.test.polarimeter_name %}">
                    {{ cur.test.polarimeter_name }}
                </a>
            </td>
            <td>
                <a href="{% url 'unittests:test_details' cur.test.id %}">{{ cur.test.test_type }} (PHSW {{ cur.test.phsw_state }})</a>
            </td>
            <td>{{ cur_results.central_nu_ghz|floatformat:2 }}&pm;{{ cur_results.central_nu_err|floatformat:2 }}</td>
            <td>{{ cur_results.bandwidth_ghz|floatformat:2 }}&pm;{{ cur_results.bandwidth_err|floatformat:2 }}</td>
            <td><time datetime="{{cur_results.analysis_date|date:"Y-m-d"}}">{{cur_results.analysis_date}}</time></td>
            <td><a href="{% url 'unittests:api-bandpass-data' cur.id %}">Link</a></td>
            <td>
                {% if cur.report_file %}
                    <a href="{% url 'unittests:bandpass_report' cur.id %}">Report</a>
                {% else %}
                    (None)
                {% endif %}
            </td>
            {% endwith %}
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>

<script>
    $.ajax({
        method: "GET",
        url: "{% url 'unittests:api-bandpass-all-data' %}",
        success: function(data) {
            pol_name = data.polarimeters;
            results = data.results;

            plot_bandpass_chart(pol_name, results);
        },
        error: function(error_data) {
            console.log("error:");
            console.log(error_data);
        }
    });

    function plot_bandpass_chart(pol_name, results) {
        mean_central_nu = [];
        mean_bandwidth = [];
        text = [];
        for(var pol_idx = 0; pol_idx < results.length; pol_idx++) {
            var central_nu = 0.0;
            var bandwidth = 0.0;
            var pol_results = results[pol_idx];
            for(var res_idx = 0; res_idx < pol_results.length; res_idx++) {
                central_nu += results[pol_idx][res_idx].central_nu_ghz;
                bandwidth += results[pol_idx][res_idx].bandwidth_ghz;
            }
            central_nu /= pol_results.length;
            bandwidth /= pol_results.length;

            mean_central_nu.push(central_nu);
            mean_bandwidth.push(bandwidth);
            
            text.push('mean of ' + pol_results.length.toString() + ' estimate(s)');
        }

        var data = [{
            x: mean_central_nu,
            y: pol_name,
            text: text,
            type: "bar",
            orientation: "h",
            name: "central frequency"
        }, {
            x: mean_bandwidth,
            y: pol_name,
            xaxis: "x2",
            yaxis: "y2",
            text: text,
            type: "bar",
            orientation: "h",
            name: "bandwidth"
        }];

        Plotly.newPlot("bandpass-plot", data, { 
            xaxis: { domain: [0, 0.45] },
            yaxis2: { anchor: "x2" },
            xaxis2: { domain: [0.55, 1] }
        });
    }

</script>
{% endblock %}
