{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
LSPE/Strip DB: Dashboard
{% endblock %}

{% block content %}
<h2>
    Dashboard
</h2>

<div class="section activity">
    <div class="row">
        <div class="twelve columns">
            <h4>
                Activity
            </h4>

            <div id="timeline-plot" style="height: 280px">
                <!-- plotly chart -->
            </div>
        </div>
    </div>
</div>

<div class="section users">
    <div class="row">
        <div class="twelve columns">
            <h4>
                Users
            </h4>

            <p>The following plot shows how many tests each user has saved in the database.</p>

            <div id="user-activity-plot" style="height: 280px">
                <!-- plotly chart -->
            </div>
        </div>
    </div>
</div>

<script>

    // Timetable plot

    $.ajax({
        method: "GET",
        url: "{% url 'unittests:api-tests-countbydate' %}",
        success: function(data) {
            timePlotDate = data.date;
            timePlotCount = data.num_of_tests;
            plot_date_chart();
        },
        error: function(error_data) {
            console.log("error:");
            console.log(error_data);
        }
    });

    $.ajax({
        method: "GET",
        url: "{% url 'unittests:api-tests-users' %}",
        success: function(data) {
            plot_user_activity_chart(data.users);
        },
        error: function(error_data) {
            console.log("error:");
            console.log(error_data);
        }
    });

    function plot_date_chart() {
        var data = [{
            x: timePlotDate,
            y: timePlotCount,
            type: "scatter"
        }];

        var layout = {
            title: "Activity in the last " + timePlotDate.length + " days",
            yaxis: {
                title: "Num of tests"
            }
        };

        Plotly.newPlot("timeline-plot", data, layout);
    }

    function plot_user_activity_chart(users) {
        var user_names = [];
        var user_counts = [];

        /* Sort users according to the number of tests they have
           saved in the database, then by their names */
        users.sort(function(a, b) { 
            if(a.num_of_tests != b.num_of_tests)
                return a.num_of_tests - b.num_of_tests;
            else
                return a.name < b.name;
        })
        for(var i = 0; i < users.length; i++) {
            if(users[i].num_of_tests > 0) {
                user_names.push(users[i].name);
                user_counts.push(users[i].num_of_tests);
            }
        }
        var data = [{
            x: user_counts,
            y: user_names,
            type: "bar",
            orientation: "h"
        }];

        var layout = {
            yaxis: {
                title: "Number of tests"
            }
        };

        Plotly.newPlot("user-activity-plot", data, layout);
    }

</script>
{% endblock %}
