{% extends "base.html" %}

{% block title %}
LSPE/Strip DB: List of tests
{% endblock %}

{% block action_bar_buttons %}
<li><a href="{% url 'unittests:test_create' %}">Add test</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="one-half column" style="margin-top: 1em">
        <h1>Polarimetric unit tests</h1>
        <p>Number of tests in the database: {{ tests | length }}</p>

        {% if tests %}
        <table>
            <thead>
                <th>Test</th>
                <th>Acqusition date</th>
            </thead>
            {% for test in tests %}
            <tr>
                <td><a href="{% url 'unittests:test_details' test.id %}">{{ test.polarimeter_name }} {{ test.test_type }}</a></td>
                <td>{{ test.acquisition_date }}</td>
                <td><a href="{% url 'unittests:test_delete' test.id %}">🗙</a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}
