{% extends "base.html" %}

{% block title %}
LSPE/Strip DB: Add new test
{% endblock %}

{% block head %}
<script>
    $( function() {
        $("#id_acquisition_date").datepicker({
            showButtonPanel: true,
            dateFormat: "yy-mm-dd"
        });
    } );
</script>
{% endblock %}

{% block content %}
<h2>Add new test</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="add-test-table">
        {{ form.as_p }}
    </div>

    <input type="submit" value="Add new test"/>
</form>

{% endblock %}
