{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
LSPE/Strip DB: List of tests
{% endblock %}

{% block content %}
<div class="row">
    <div class="column" style="margin-top: 1em">
        <h2>Polarimetric unit tests</h2>
        <p>Number of tests in the database: {{ tests | length }}</p>
    </div>

    <div class="twelve columns action-bar">
        <ul>
            <li><a href="{% url 'unittests:test_create' %}">Add test</a></li>
        </ul>
    </div>

    <div class="twelve columns">
        {% if tests %}
        <input type="text" id="polarimeter-test-filter" onkeyup="filterPolarimeterTable()" placeholder="Filter…">
        <table id="polarimeter-test-table">
            <thead>
                <th>Polarimeter</th>
                <th>Test</th>
                <th>Acquisition date</th>
                <th>PHSW</th>
                <th>Actions</th>
            </thead>
            <tbody id="polarimeter-test-table-body">
                {% for test in tests %}
                <tr>
                    <td>{{ test.polarimeter_name }}</a></td>
                    <td>
                        <a href="{% url 'unittests:test_details' test.id %}">
                            {% if test.short_description %}
                                {{ test.short_description }}
                            {% else %}
                                <i>{{ test.test_type }}</i>
                            {% endif %}
                        </a>
                    </td>
                    <td>{{ test.acquisition_date }}</td>
                    <td>{{ test.phsw_state }}</td>
                    <td>
                        <a href="{% url 'unittests:test_update' test.id %}">
                            <img src="{% static 'site/edit.svg' %}" width="32" height="32" alt="Edit"/>
                        </a>
                        &nbsp;
                        <a href="{% url 'unittests:test_delete' test.id %}">
                            <img src="{% static 'site/delete.svg' %}" width="32" height="32" alt="Delete"/>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

<script>
    /* This is like "split", but it does not leave empty strings in the array */
    function splitAtSpaces(str) {
        return str.split(" ").filter(function (x) { return x != "" })
    }

    function filterPolarimeterTable() {
        var test_table = document.getElementById("polarimeter-test-table-body");
        var rows = test_table.getElementsByTagName("tr");

        var filter_field = document.getElementById("polarimeter-test-filter");
        var filters = splitAtSpaces(filter_field.value.toUpperCase());
        if (filters.length == 0) {
            /* No filter: make all rows visible */
            for (rowidx = 0; rowidx < rows.length; rowidx++) {
                rows[rowidx].style.display = "";
            }

            return;
        }

        for (rowidx = 0; rowidx < rows.length; rowidx++) {
            cell = rows[rowidx].getElementsByTagName("td");
            if (! cell) continue;

            var found = false;

            cellloop:
            for (cellidx = 0; cellidx < cell.length; cellidx++) {
                /* We might have more than one word to search, so we must loop over them */
                for (filtidx = 0; filtidx < filters.length; filtidx++) {
                    /* Note that this way of filtering joins filter words using OR */
                    if (cell[cellidx].innerHTML.toUpperCase().indexOf(filters[filtidx]) > -1) {
                        found = true;
                        break cellloop;
                    }
                }
            }
            if (found) {
                rows[rowidx].style.display = "";
            } else {
                rows[rowidx].style.display = "none";
            }
        }
    }
</script>
{% endblock %}
