{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
LSPE/Strip DB: Details of test on STRIP{{test.polarimeter_number}}
{% endblock %}

{% block action_bar_buttons %}
<li><a href="{% url 'unittests:test_create' %}">Add test</a></li>
{% endblock %}

{% block content %}
<h1>STRIP{{test.polarimeter_number}} {{test.test_type}} test</h1>

<div class="section general">
    <div class="row">
        <div class="column">
            <h5>General information</h5>
            <table>
                <tr><td><b>Acquisition date</b></td><td>
                    <time datetime="{{test.acquisition_date|date:"Y-m-d"}}">{{test.acquisition_date|date:"l, F j, Y"}}</time>
                </td></tr>
                <tr><td><b>Band</b></td><td>{{test.band}}</td></tr>
                <tr><td><b>Cryogenic?</b></td><td>{{test.cryogenic|yesno|capfirst}}</td></tr>
                <tr><td><b>Operators</b></td><td>{{ operators|join:", " }}</td></tr>
                <tr><td><b>Notes</b></td><td>{% if test.notes %} {{test.notes|linebreaks}} {% else %} (None) {% endif %}</td></tr>
                <tr><td><b>Author</b></td><td>{{test.author}}</td></tr>
                <tr><td><b>Date of creation</b></td><td>
                    <time datetime="{{test.creation_date|date:"Y-m-d"}}">{{test.creation_date|date:"l, F j, Y"}}</time>
                </td></tr>
            </table>
            <p><a href="{% url 'unittests:test_download' test.id %}">Download data file</a>  ({{test.data_file.size|filesizeformat}})</p>
        </div>
    </div>
</div>

<div class="section housekeepings1">
    <div class="row">
        <div class="one-half column">
            <h5>ADC offsets</h5>

            {% if adc_offsets %}
            <table class="data-table" id="adc-offsets-table">
                <thead>
                    <th>PWR0</th>
                    <th>PWR1</th>
                    <th>PWR2</th>
                    <th>PWR3</th>
                </thead>
                <tbody>
                    {% for ofs in adc_offsets %}
                    <tr>
                        <td>{{ofs.pwr0_adu}}</td>
                        <td>{{ofs.pwr1_adu}}</td>
                        <td>{{ofs.pwr2_adu}}</td>
                        <td>{{ofs.pwr3_adu}}</td>
                        <td><a href="{% url 'unittests:adc_delete' test.id ofs.id %}">
                            <img src="{% static 'site/delete.svg' %}" width="32" height="32"/>
                        </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

            <ul class="data-table-actions">
                <li><a href="{% url 'unittests:adc_create' test.id %}">Add new</a></li>
            </ul>
        </div>

        <div class="one-half column">
            <h5>Detector outputs</h5>
            
                {% if det_outputs %}
                <table class="data-table" id="detector-outputs">
                    <thead>
                        <th>PWR0</th>
                        <th>PWR1</th>
                        <th>PWR2</th>
                        <th>PWR3</th>
                    </thead>
                    <tbody>
                        {% for out in det_outputs %}
                        <tr>
                            <td>{{out.pwr0_adu}}</td>
                            <td>{{out.pwr1_adu}}</td>
                            <td>{{out.pwr2_adu}}</td>
                            <td>{{out.pwr3_adu}}</td>
                            <td><a href="{% url 'unittests:detoutput_delete' test.id out.id %}">
                                <img src="{% static 'site/delete.svg' %}" width="32" height="32"/>
                            </a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            
                <ul class="data-table-actions">
                    <li><a href="{% url 'unittests:detoutput_create' test.id %}">Add new</a></li>
                    <li><a href="{% url 'unittests:detoutput_create_json' test.id %}">Import a JSON file</a></li>
                </ul>
        </div>
    </div>
</div>

<div class="section housekeepings2">
    <div class="row">
        <div class="one-half column">
            <h5>HEMT biases</h5>

            {% if biases %}
            <table class="data-table" id="bias-table">
                <thead>
                    <th>HEMT</th>
                    <th>V<sub>d</sub> [V]</th>
                    <th>I<sub>d</sub> [mA]</th>
                    <th>V<sub>g</sub> [mV]</th>
                </thead>
                <tbody>
                    <tr>
                        <td>H0 (HA1)</td>
                        <td>{{biases.drain_voltage_ha1_V}}</td>
                        <td>{{biases.drain_current_ha1_mA}}</td>
                        <td>{{biases.gate_voltage_ha1_mV}}</td>
                    </tr>
                    <tr>
                        <td>H1 (HB1)</td>
                        <td>{{biases.drain_voltage_hb1_V}}</td>
                        <td>{{biases.drain_current_hb1_mA}}</td>
                        <td>{{biases.gate_voltage_hb1_mV}}</td>
                    </tr>
                    <tr>
                        <td>H2 (HA2)</td>
                        <td>{{biases.drain_voltage_ha2_V}}</td>
                        <td>{{biases.drain_current_ha2_mA}}</td>
                        <td>{{biases.gate_voltage_ha2_mV}}</td>
                    </tr>
                    <tr>
                        <td>H3 (HB2)</td>
                        <td>{{biases.drain_voltage_hb2_V}}</td>
                        <td>{{biases.drain_current_hb2_mA}}</td>
                        <td>{{biases.gate_voltage_hb2_mV}}</td>
                    </tr>
                    <tr>
                        <td>H4 (HA3)</td>
                        <td>{{biases.drain_voltage_ha3_V}}</td>
                        <td>{{biases.drain_current_ha3_mA}}</td>
                        <td>{{biases.gate_voltage_ha3_mV}}</td>
                    </tr>
                    <tr>
                        <td>H5 (HB3)</td>
                        <td>{{biases.drain_voltage_hb3_V}}</td>
                        <td>{{biases.drain_current_hb3_mA}}</td>
                        <td>{{biases.gate_voltage_hb3_mV}}</td>
                    </tr>
                </tbody>
            </table>
            <ul class="data-table-actions">
                    <a href="{% url 'unittests:biases_delete' test.id biases.id %}">Delete</a>
            </ul>

            {% else %}
            <ul class="data-table-actions">
                <a href="{% url 'unittests:biases_create' test.id %}">Add new</a>
            </ul>
            {% endif %}
        </div>

        <div class="one-half column">
            <h5>Temperatures</h5>

            {% if temperatures %}
            <table class="data-table" id="temperature-table">
                <thead>
                    <th>T<sub>A1</sub> [K]</th>
                    <th>T<sub>A2</sub> [K]</th>
                    <th>T<sub>B1</sub> [K]</th>
                    <th>T<sub>B2</sub> [K]</th>
                    <th>T<sub>pol1</sub> [K]</th>
                    <th>T<sub>pol2</sub> [K]</th>
                    <th>T<sub>cross1</sub> [K]</th>
                    <th>T<sub>cross2</sub> [K]</th>
                </thead>
                <tbody>
                    {% for temp in temperatures %}
                    <tr>
                        <td>{{temp.t_load_a_1}}</td>
                        <td>{{temp.t_load_a_2}}</td>
                        <td>{{temp.t_load_b_1}}</td>
                        <td>{{temp.t_load_b_2}}</td>
                        <td>{{temp.t_polarimeter_1}}</td>
                        <td>{{temp.t_polarimeter_2}}</td>
                        <td>{{temp.t_cross_guide_1}}</td>
                        <td>{{temp.t_cross_guide_2}}</td>
                        <td><a href="{% url 'unittests:temperature_delete' test.id temp.id %}">
                            <img src="{% static 'site/delete.svg' %}" width="32" height="32"/>
                        </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

            <ul class="data-table-actions">
                <a href="{% url 'unittests:temperature_create' test.id %}">Add new</a>
            </ul>
        </div>
    </div>
</div>

<div class="section reports">        
    <h3>Reports</h3>

    <h5>Noise temperatures</h5>

    {% if tnoise_analyses %}
    <table class="data-table" id="tnoise-table">
        {% for analysis in tnoise_analyses %}
        <tr><td>{{analysis}}</td></tr>
        {% endfor %}
    </table>
    {% endif %}

    <ul class="data-table-actions">
        <li><a href="{% url 'unittests:tnoise_create' test.id %}">Add new</a></li>
        <li><a href="{% url 'unittests:tnoise_create_json' test.id %}">Import a JSON file</a></li>
    </ul>

    <h5>Bandpasses</h5>

    {% if bandpass_analyses %}
    <table class="data-table" id="bandpass-table">
        {% for analysis in bandpass_analyses %}
        <tr><td>{{analysis}}</td></tr>
        {% endfor %}
    </table>
    {% endif %}

    <ul class="data-table-actions">
        <li><a href="{% url 'unittests:bandpass_create' test.id %}">Add new</a></li>
    </ul>    

    <h5>Spectrum</h5>
    
        {% if spectrum_analyses %}
        <table class="data-table" id="spectrum-table">
            {% for analysis in spectrum_analyses %}
            <tr><td>{{analysis}}</td></tr>
            {% endfor %}
        </table>
        {% endif %}
    
        <ul class="data-table-actions">
            <li><a href="{% url 'unittests:spectrum_create' test.id %}">Add new</a></li>
        </ul>    
    </div>

{% endblock %}
