{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
LSPE/Strip DB: List of tests
{% endblock %}

{% block content %}
<div class="row">
    <div class="column" style="margin-top: 1em">
        <h2>Polarimetric unit tests</h2>
        <p>Number of tests in the database: {{ tests | length }}</p>
    </div>

    <div class="twelve columns action-bar">
        <ul>
            <li><a href="{% url 'unittests:test_create' %}">Add test</a></li>
        </ul>
    </div>

    <div class="twelve columns">
        {% if polarimeter_tests %}
        <input type="text" id="polarimeter-test-filter" onkeyup="filterPolarimeterTable()" placeholder="Filter…">

        <ul id="polarimeter-test-list">
            {% for cur_pol, cur_list_of_tests in polarimeter_tests.items %}
            <li>
                <span class="polarimeter-name" onclick="toggle_ul(this.parent);">
                    <span class="dropdown-icon">&#9661;</span>{{ cur_pol }}
                </span>
                <ul class="polarimeter-test-sublist item_hide" hidden="true">
                    {% for cur_test in cur_list_of_tests %}
                    <li>
                        <div class="test-definition">
                            <a href="{% url 'unittests:test_update' cur_test.id %}"><!--
                            --><img src="{% static 'site/edit.svg' %}" width="32" height="32" alt="Edit"/><!--
                            --></a>
                            &nbsp;
                            <a href="{% url 'unittests:test_delete' cur_test.id %}"><!--
                            --><img src="{% static 'site/delete.svg' %}" width="32" height="32" alt="Delete"/><!--
                            --></a>
                            <span class="test-description">
                                <a href="{% url 'unittests:test_details' cur_test.id %}">
                                    {% if cur_test.short_description %}
                                        {{ cur_test.short_description }}
                                    {% else %}
                                        <i>{{ cur_test.test_type }}</i>
                                    {% endif %}
                                </a> ({{ cur_test.acquisition_date }})
                            </span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

<script>
    /* This is like "split", but it does not leave empty strings in the array */
    function splitAtSpaces(str) {
        return str.split(" ").filter(function (x) { return x != "" })
    }

    function filterPolarimeterTable() {
        var test_table = document.getElementById("polarimeter-test-table-body");
        var rows = test_table.getElementsByTagName("tr");

        var filter_field = document.getElementById("polarimeter-test-filter");
        var filters = splitAtSpaces(filter_field.value.toUpperCase());
        if (filters.length == 0) {
            /* No filter: make all rows visible */
            for (rowidx = 0; rowidx < rows.length; rowidx++) {
                rows[rowidx].style.display = "";
            }

            return;
        }

        for (rowidx = 0; rowidx < rows.length; rowidx++) {
            cell = rows[rowidx].getElementsByTagName("td");
            if (! cell) continue;

            var found = false;

            cellloop:
            for (cellidx = 0; cellidx < cell.length; cellidx++) {
                /* We might have more than one word to search, so we must loop over them */
                for (filtidx = 0; filtidx < filters.length; filtidx++) {
                    /* Note that this way of filtering joins filter words using OR */
                    if (cell[cellidx].innerHTML.toUpperCase().indexOf(filters[filtidx]) > -1) {
                        found = true;
                        break cellloop;
                    }
                }
            }
            if (found) {
                rows[rowidx].style.display = "";
            } else {
                rows[rowidx].style.display = "none";
            }
        }
    }

    function toggle_ul(obj) {
        var list_of_children = $(".item_hide", obj);
        if(list_of_children.is(":visible")) {
            $(".polarimeter-name .dropdown-icon", obj).html("&#9661;");
            list_of_children.slideUp(); 
        } else {
            $(".polarimeter-name .dropdown-icon", obj).html("&#9651;");
            list_of_children.slideDown();
        }
    }
</script>
{% endblock %}
