{% extends "base.html" %}

{% block title %}
LSPE/Strip DB: List of spectral analysis results
{% endblock %}

{% block content %}
<h2>Spectral analysis results</h2>

<p>Number of reports in the database: {{ spectral_analysis_tests | length }}</p>

{% if spectral_analysis_tests %}
<table>
    <thead>
        <th>Polarimeter</th>
        <th>&alpha;</th>
        <th>f<sub>knee</sub> [Hz]</th>
        <th>White noise [ADU<sup>2</sup>/Hz]</th>
        <th>Analysis date</th>
    </thead>
    <tbody>
        {% for cur in spectral_analysis_tests %}
        <tr>
            <td>{{ cur.test.polarimeter_name }}</td>
            <td>{{ cur.oof_alpha }}±{{ cur.oof_alpha_err }}</a></td>
            <td>{{ cur.oof_knee_frequency_hz }}±{{ cur.oof_knee_frequency_err }}</td>
            <td>{{ cur.wn_level_adu2_rhz }}±{{ cur.wn_level_err }}</td>
            <td><time datetime="{{cur.analysis_date|date:"Y-m-d"}}">{{cur.analysis_date|date:"l, F j, Y"}}</time></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
