{% extends "base.html" %}

{% block title %}
LSPE/Strip DB: List of tests
{% endblock %}

{% block content %}
<h2>Noise temperature estimates</h2>

<p>Number of reports in the database: {{ tnoise_tests | length }}</p>

<div id="tnoise-plot" style="height: 280px"></div>

<table>
    <thead>
        <th>Polarimeter</th>
        <th>Test</th>
        <th>g<sup>2</sup><sub>mean</sub> [K/ADU]</th>
        <th>g<sub>A</sub> g<sub>B</sub> [K/ADU]</th>
        <th>T<sub>noise</sub> [K]</th>
        <th>Analysis date</th>
        <th>Report</th>
    </thead>
    <tbody>
        {% for cur in tnoise_tests %}
        <tr>
            <td>
                <a href="{% url 'unittests:polarimeter_details' cur.test.polarimeter_name %}">
                    {{ cur.test.polarimeter_name }}
                </a>
            </td>
            <td>
                <a href="{% url 'unittests:test_details' cur.test.id %}">{{ cur.test.test_type }} (PHSW {{ cur.test.phsw_state }})</a>
            </td>
            <td>{{ cur.average_gain|floatformat:1 }}±{{ cur.average_gain_err|floatformat:1 }}</a></td>
            <td>{{ cur.cross_gain|floatformat:1 }}±{{ cur.cross_gain_err|floatformat:1 }}</td>
            <td>{{ cur.noise_temperature|floatformat:1 }}±{{ cur.noise_temperature_err|floatformat:1 }}</td>
            <td><time datetime="{{cur.analysis_date|date:"Y-m-d"}}">{{cur.analysis_date|date:"l, F j, Y"}}</time></td>
            <td>
                {% if cur.report_file %}
                    <a href="{% url 'unittests:tnoise_report' cur.id %}">Report</a>
                {% else %}
                    (None)
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $.ajax({
        method: "GET",
        url: "{% url 'unittests:api-tnoise-data' %}",
        success: function(data) {
            pol_name = data.polarimeters;
            tnoise = data.tnoise;
            error = data.error;

            plot_tnoise_chart(pol_name, tnoise, error);
        },
        error: function(error_data) {
            console.log("error:");
            console.log(error_data);
        }
    });

    function mean(arr) {
        var sum = 0.0;
        for (var i = 0; i < arr.length; i++) {
            sum += arr[i];
        }

        return sum / arr.length;
    }

    function plot_tnoise_chart(pol_name, tnoise, error) {
        mean_tnoise = [];
        text = [];
        for(var i = 0; i < tnoise.length; i++) {
            mean_tnoise.push(mean(tnoise[i]));
            text.push('mean of ' + tnoise[i].length.toString() + ' estimate(s)');
        }

        var data = [{
            x: mean_tnoise,
            y: pol_name,
            text: text,
            type: "bar",
            orientation: "h"
        }];

        Plotly.newPlot("tnoise-plot", data, { });
    }

</script>
{% endblock %}
