{% extends "base.html" %}

{% block title %}
LSPE/Strip DB: List of tests
{% endblock %}

{% block content %}
<h1>Noise temperature estimates</h1>

<p>Number of reports in the database: {{ tnoise_tests | length }}</p>
<table>
    <thead>
        <th>Polarimeter</th>
        <th>Average gain</th>
        <th>Cross-gain</th>
        <th>Noise temperature</th>
        <th>Analysis date</th>
    </thead>
    <tbody>
        {% for cur in tnoise_tests %}
        <tr>
            <td>{{ cur.test.polarimeter_name }}</td>
            <td>{{ cur.average_gain }}±{{ cur.average_gain_err }}</a></td>
            <td>{{ cur.cross_gain }}±{{ cur.cross_gain_err }}</td>
            <td>{{ cur.noise_temperature }}±{{ cur.noise_temperature_err }}</td>
            <td>{{ cur.analysis_date }}</td>
            <td>🗙</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
