/* Menu bar */

nav {
    position: fixed;
}

nav ul {
    background-color: #333;
    margin: 0;
    padding: 0;
    border: 1px solid;
    list-style: none;
}

nav li {
    text-align: left;
    border-bottom: 1px solid #555;
    margin-bottom: 0;
    line-height: 1.2;
    text-shadow: 1px 1px 2px #222;
}

nav li:last-child {
    border-bottom: none;
}

nav .active {
    background-color: #77d;
}

nav a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

nav a:hover {
    background-color: #888;
    color: white;
}

nav li.last {
    margin-top: 2.5em;
}

/* Other */

h1, h2, h3, h4, h5, h6, h7 {
    text-shadow: 1px 1px 2px #aaa;
}


a {
    color: #77d;
}

textarea {
    min-width: 20em;
    min-height: 18em;
}

#id_operators {
    min-width: 15em;
    min-height: 10em;
}

#pwrplot-div {
    width: 512px;
    margin-left: auto;
    margin-right: auto;
}
