/* Enable CSS grids */
* {
    box-sizing: border-box;
}

nav {
    width: 15rem;
    float: left;
}

.main {
    width: calc(100% - 18rem);
    float: right;
}

/* General style */

html {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

h1 { font-size: 3.0rem; line-height: 1.2; }
h2 { font-size: 2.5rem; line-height: 1.2; }
h3 { font-size: 2.0rem; line-height: 1.1; }
h4 { font-size: 1.5rem; line-height: 1.1; }
h5 { font-size: 1.0rem; line-height: 1.0; }

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #777;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Navigation bar (left side) */

nav ul {
    background-color: #333;
    margin: 0;
    padding: 0;
    border: 1px solid;
    list-style: none;
}

nav li {
    text-align: left;
    border-bottom: 1px solid #555;
    margin-bottom: 0;
    line-height: 1.2;
    text-shadow: 1px 1px 2px #222;
}

nav li:last-child {
    border-bottom: none;
}

nav .active {
    background-color: #77d;
}

nav a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

nav a:hover {
    background-color: #888;
    color: white;
}

nav li.last {
    margin-top: 2.5em;
}

/* Action bar */

.action-bar li {
    display: inline-block;
    list-style: none;
}

.action-bar a {
    text-decoration: none;
    background-color: #77d;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    padding: 16px 32px;
    border: none;
    text-align: center;
    font-size: 16px;
    float: left;
    cursor: pointer;
}

/* Hierarchical lists which can make their elements collapse */

#polarimeter-test-list, .polarimeter-test-sublist {
    list-style: none;
}

#polarimeter-test-list .polarimeter-name {
    font-weight: bold;
    cursor: pointer;
}

.test-description {
    vertical-align: 50%;
}

/* Other */

h1, h2, h3, h4, h5, h6, h7 {
    text-shadow: 1px 1px 2px #aaa;
}


a {
    color: #77d;
}

textarea {
    min-width: 20em;
    min-height: 18em;
}

#id_operators {
    min-width: 15em;
    min-height: 10em;
}

#pwrplot-div {
    width: 512px;
    margin-left: auto;
    margin-right: auto;
}
